In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (12,8)

from ipywidgets import interact, IntSlider, FloatSlider

In [2]:
df_train = pd.read_csv('data/train.csv', sep=',', encoding='utf8')
df_test = pd.read_csv('data/test.csv', sep=',', encoding='utf8')
df_target = pd.read_csv('data/sample_submission.csv', sep=',', encoding='utf8')

In [3]:
def prepTrainXY ( dfIn, clrLvl ):
    dfXOut = dfIn.copy()
    # деперсонифицируем выборку
    dfXOut = dfXOut.drop(['_id', 'contact', 'month', 'day_of_week', 'poutcome', 'pdays'], axis=1)
    if clrLvl['1'][0]  == 1:
        dfXOut = dfXOut.drop(['marital'], axis=1)
    if clrLvl['2'][0]  == 1:
        dfXOut = dfXOut.drop(['education'], axis=1)
    if clrLvl['3'][0]  == 1:
        dfXOut = dfXOut.drop(['job'], axis=1)
    if clrLvl['4'][0]  == 1:
        dfXOut = dfXOut.drop(dfXOut[dfXOut['default']=='unknown'].index, axis=0)
        dfXOut = dfXOut.drop(dfXOut[dfXOut['housing']=='unknown'].index, axis=0)
        dfXOut = dfXOut.drop(dfXOut[dfXOut['loan']=='unknown'].index, axis=0)
        #dfXOut = dfXOut.drop(['housing']=='unknown', axis=0)
        #dfXOut = dfXOut.drop(['loan']=='unknown', axis=0)
    if clrLvl['5'][0]  == 1:
        dfXOut = dfXOut.drop(['emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed' ], axis=1)
    if clrLvl['6'][0]  == 1:
        dfXOut = dfXOut.drop(['campaign'], axis=1)
    if clrLvl['7'][0]  == 1:
        dfXOut = dfXOut.drop(['age'], axis=1)
    
    # удаляю оставшиеся записи с NaN значениями
    dfXOut = dfXOut.dropna(axis=0)    
    
    try:
        yOut = dfXOut['target']
        dfXOut = dfXOut.drop(['target'], axis=1)
    except Exception:
        yOut = []
        
        
    # Кодировка категориальных признаков
    dfXOut = pd.get_dummies(dfXOut)
    
    return dfXOut, yOut

In [4]:
clrLvl = pd.DataFrame([[0, 1, 1, 0, 1, 1, 1] ], columns=list('1234567'))
X, y = prepTrainXY ( df_train, clrLvl )

In [5]:
# clrLvl = pd.DataFrame([[1, 1, 1, 0, 1, 1, 1] ], columns=list('1234567'))
tmpX_test = df_test.join(df_target.set_index('_id'), on='_id')
X_test, y_test = prepTrainXY ( tmpX_test, clrLvl )

In [6]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [7]:
model = Pipeline([
    ('scaler', StandardScaler()),
    ('lr', LogisticRegression(C=1.0, fit_intercept=True, penalty='l2'))
])

In [8]:
model.fit( X, y )

Pipeline(memory=None,
     steps=[('scaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('lr', LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False))])

In [9]:
knn_predict = model.predict(X_test)

In [10]:
knn_predict_proba = model.predict_proba(X_test)
knn_predict_proba.shape

(16476, 2)

In [11]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print('precision', precision_score(y_test, knn_predict))
print('recall', recall_score(y_test, knn_predict))
print('accuracy', accuracy_score(y_test, knn_predict))
print('f1', f1_score(y_test, knn_predict))

precision 0.0
recall 0.0
accuracy 0.9588492352512746
f1 0.0

In [12]:
from sklearn.metrics import roc_auc_score, roc_curve

In [13]:
roc_auc_score(y_test, knn_predict)

0.479453717754173

In [14]:
knn_predict_df = pd.DataFrame(data=knn_predict)
knn_predict_df.to_csv('knn_predict_df.csv', sep='\t', index=False)

In [168]:
knn_predict_df

       0
0      1
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     1
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     1
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
...   ..
16446  0
16447  0
16448  0
16449  0
16450  0
16451  0
16452  0
16453  0
16454  1
16455  0
16456  0
16457  0
16458  0
16459  0
16460  0
16461  0
16462  0
16463  0
16464  1
16465  0
16466  1
16467  0
16468  0
16469  0
16470  0
16471  0
16472  0
16473  0
16474  0
16475  0

[16476 rows x 1 columns]

In [162]:
knn_predict_df['_id'] = df_target['_id']

In [174]:
df_final = df_target.copy()
df_final['target'] = knn_predict_df[0]
df_final.to_csv('knn_submission.csv', sep=',', index=False)

In [169]:
df_target

                                    _id  target
0      66810d8e6bf2b41c880a7bc6c8a1e295       1
1      ccac3879652b08cb8b44c1920fd93afa       0
2      fcccab4d7a76f70647f015f2c84c2af8       0
3      ed8399278c30678dab739045fa12b440       0
4      1d4d62ac5cabcb48bac7112813f290cb       0
5      aba2dec4c5cab88824f36babd24b986f       0
6      06f318f1dd178e738f675bb88a5adb84       0
7      d5036f5956e42ee6207296238fc4bc1d       0
8      fe0cc8933698ad4046ff2b82f65756eb       0
9      70190122f4ebf196535e11b33eb95b81       0
10     8c2e044ac444afd4d0dea67eba0079c4       0
11     0d7db1117ed3606d7bbbb65d584b5c2f       0
12     aa3d1e4ba96323b5449a23cb54badc50       0
13     d312d9b1ffdab785a806490ca0450f7b       0
14     56da3f911d7cc5e8f47f2703b74bdc45       0
15     19afb1a10078e901994a1e1e2c058652       0
16     9ac0fc025e2f551a7d5214a606a77434       0
17     4bc819b6f4ebbedca0fe354ba5dc7ba3       0
18     1c02af75529cdaee5f8822a5251f5c63       0
19     9d0424c7a80ebde8cc8b5520721592f2       0
20     cf005d4bc86312d5f1032e08ef342e05       0
21     6abe7bc6263ac81d7f6764c6b0489703       0
22     b56ee107fc7abbabfa317f9209cbc5fd       0
23     2fd2f7790cd8d0c638d55f41b1f323a2       0
24     bd3b2a1af1abd0d48af835aa69848232       0
25     d50372645903431bd7ceb57bbf1cea06       0
26     8a11f5487e2e8a6e91d0ab1b6003b55e       0
27     ab96e787fdf0827bbebcf95b1243d041       0
28     233d244d79e364f517c846cb3ab1932a       0
29     45971d4e3a47775bb5a7260bb5ea3c36       0
...                                 ...     ...
16446  2e7eb3af58c97ad5b28e4ab4066a3166       0
16447  bf36dd4830374ffc70f6ee3299d64f18       0
16448  6f414266555cb6936d452d7f670c1d2a       0
16449  51a8cd987d9172230140ba02680c6888       0
16450  f22bc2082ffda4152fc91e62d405ae33       0
16451  78fce17fbfc1649f81525fbff8ce56f6       0
16452  678b27ff29561345f45c22997d4163b9       0
16453  6b97722a63470c0e3141afd64dedef69       0
16454  4f76847f045acfba87b9b31212e5ff04       0
16455  227b74315a0f38c0468d34cb32c33130       0
16456  2bfba6d34acd59d1b336a902334fe580       0
16457  14800414cadc5a5225cfc88a0ad0df5f       0
16458  990a8c3609aa6b418e9a1d3d03e4bae2       0
16459  305b62eb82268b8fbe96f40d6bbf8c0d       0
16460  85192427224a3f6c41d0098da3fc8f42       0
16461  1d64b28026755f338788275caa736ae5       0
16462  148b22ee82a0ab3e0a0361db70fcb8f9       0
16463  be5b5fbf76512e42f33920e507651637       0
16464  40abfe7908c781d5501f1f659e4c4635       0
16465  47db50c3c18cafca48d259b44f77459b       0
16466  909fbfc6b2be0973f005059719b1a74e       0
16467  2f3adcb8c4dcdd9d639fc4565a9c3d18       0
16468  647c7ffbf8a9d521e35889915d4e2b5b       0
16469  b2661316878841e8616c63e394753904       0
16470  5d85440e397384c76a5653fab7e0e5e7       0
16471  114c0574c96ac1c71d6529b863a566d8       0
16472  467e0cc4856d357b4905a3a862e952b4       0
16473  d1f7a1196e049d5bff3375606950c86c       0
16474  3e837730540e9b0d6a980b3f6a12bb48       0
16475  82db4c5dd22e8182b30917571fe77c4d       0

[16476 rows x 2 columns]

In [170]:
knn_predict_df

       0
0      1
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     1
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     1
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
...   ..
16446  0
16447  0
16448  0
16449  0
16450  0
16451  0
16452  0
16453  0
16454  1
16455  0
16456  0
16457  0
16458  0
16459  0
16460  0
16461  0
16462  0
16463  0
16464  1
16465  0
16466  1
16467  0
16468  0
16469  0
16470  0
16471  0
16472  0
16473  0
16474  0
16475  0

[16476 rows x 1 columns]